<!DOCTYPE html>
<html lang="en">
    <head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>{{ block "title" . }} {{ .Site.Title }} {{ end }}</title>
	{{ $style := resources.Get "main.scss" | toCSS | minify | fingerprint }}
	{{ $normalize := resources.Get "normalize.css" }}
	<link rel="stylesheet" href="{{ $normalize.Permalink }}" type="text/css">
	<link rel="stylesheet" href="/css/syntax.css" type="text/css">
	<link rel="stylesheet" href="{{ $style.Permalink }}" type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=Open+Sans|Source+Code+Pro:400,700&display=swap" rel="stylesheet">
    </head>
    <body>
		<div class="container">
		
			{{ block "header" . }}
				<header class="header">
					{{ partial "header.html" . }}
				</header>
			{{ end }}

			<main>
				{{ block "main" . }}
				{{ end }}
			</main>

			{{ block "footer" . }}
				{{ partial "footer.html" . }}
			{{ end }}
		</div>
    </body>
</html>
