@import "normalize.scss";
body {
    font-family: "Avenir Next", "Helvetica Neue";
}

img {
    max-width: 100%;
}

img.full-width {
    width: 100%;
    height: auto;
}

.center {
    text-align: center;
}

.container {
    position: relative;
    max-width: 700px;
    margin: 0 auto;
    width: 100%;
    padding: 0 2em;
    background: #fff;
}

code,
kbd,
samp,
pre {
    overflow: scroll;
}

pre {
    border: 2px solid #fff;
    padding: 10px;
    font-size: 14px;
}

article {
    margin-top: 3em;
    margin-bottom: 4em;
}

/* nav */

.header {
    display: flex;
    align-items: baseline;
    margin: auto -15px;
    a {
        padding: 1em;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

a {
    color: #cb56d6;
}

.profile {
    border-radius: 50%;
    max-width: 150px;
    width: 100%;
}

.meta {
    color: #444;
}

.posts-list {
    list-style: none;
    padding-left: 15px;
    li {
        display: flex;
        justify-content: space-between;
    }
    .meta {
        padding-right: 10px;
        margin-right: 10px;
    }
}

.primary-footer {

}
