$light: #fff;
$dark: #101225;
$link: blue;

body {
  background: $light;
  color: $dark;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  font-size: 17px;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Source Code Pro", monospace;
}

h1 {
  font-weight: bold;
  margin-bottom: 1em;
  font-size: 2.4em;
}

img {
  max-width: 100%;
}

img.full-width {
  width: 100%;
  height: auto;
}

summary {
  padding: 1em 0;

  &:hover {
    cursor: pointer;
  }
}

.center {
  text-align: center;
}

.container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  width: 100%;
  padding: 0 2em;
}
.content {
  max-width: 600px;
  margin: 0 auto;
}

article {
  margin-top: 3em;
  margin-bottom: 4em;
}

/* nav */

.header {
  display: flex;
  align-items: baseline;
  margin: auto -15px;

  a {
    padding: 1em;
    text-decoration: none;
    display: inline-flex;

    &:hover {
      text-decoration: underline;
    }
  }
}

a {
  color: $link;
}

.profile {
  border-radius: 50%;
  max-width: 150px;
  width: 100%;
}

.meta {
  padding: 2px 8px;
  background: #eee;
  font-size: 14px;
}

.posts-list {
  list-style: none;
  padding-left: 15px;
  .meta {
    padding-right: 10px;
    margin-right: 10px;
  }
}

.primary-footer {
  padding: 1em 0;
}

@media (min-width: 800px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
}

footer {
  margin-top: 5em;
}

pre {
  background: #efefef;
  padding: 1em;
  overflow-x: scroll;
  overflow-y: hidden;
  color: #000;
}

